Project: Prediction mean values and exceeding limit days of fine Particulate Matter (PM2.5) in the air - Milan (Italy).

Student: **Alessandro Monolo** | 1790210

Lecturer: Jonas Moons

Fundamentals of Machine Learning - Master Data-Driven Design, Hogeschool Utrecht.

August 2021 - Block E

## Data Merging of weather data frames from 2014 to 2019 - (Not cleaning phase here)

In [1]:
# Import libraries which can may be useful:

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# Upload all the weather dataframes per year from 2014 to 2019:

In [4]:
# Per each weather data frame I will drop the first three columns, transform the column 'DateTime' from object
# to datetime64[ns] and sincronize the index with the days of the month:

In [5]:
# Upload data frame for the year 2014

In [6]:
df1 = pd.read_csv('weather_2014.csv')

In [7]:
# Drop three columns: Unnamed: 0, LOCALITA, DATA

In [8]:
df1.drop(['Unnamed: 0', 'LOCALITA', 'DATA'], axis=1, inplace=True)

In [9]:
# Set the first row equal to 1 and not 0

In [10]:
df1.index = df1.index + 1

In [11]:
# Transform the Datetime column from object into a datetime64[ns]

In [12]:
df1['DateTime'] = pd.to_datetime(df1['DateTime'])

In [13]:
# Repeat the same process for all the year and merge in the end all the data frames into one final CSV file

In [14]:
# 2015

In [15]:
df2 = pd.read_csv('weather_2015.csv')

In [16]:
df2.drop(['Unnamed: 0', 'LOCALITA', 'DATA'], axis=1, inplace=True)

In [17]:
df2.index = df2.index + 1

In [18]:
df2['DateTime'] = pd.to_datetime(df2['DateTime'])

In [19]:
# 2016

In [20]:
df3 = pd.read_csv('weather_2016.csv')

In [21]:
df3.drop(['Unnamed: 0', 'LOCALITA', 'DATA'], axis=1, inplace=True)

In [22]:
df3.index = df3.index + 1

In [23]:
df3['DateTime'] = pd.to_datetime(df3['DateTime'])

In [24]:
# 2017

In [25]:
df4 = pd.read_csv('weather_2017.csv')

In [26]:
df4.drop(['Unnamed: 0', 'LOCALITA', 'DATA'], axis=1, inplace=True)

In [27]:
df4.index = df4.index + 1

In [28]:
df4['DateTime'] = pd.to_datetime(df4['DateTime'])

In [29]:
# 2018

In [30]:
df5 = pd.read_csv('weather_2018.csv')

In [31]:
df5.drop(['Unnamed: 0', 'LOCALITA', 'DATA'], axis=1, inplace=True)

In [32]:
df5.index = df5.index + 1

In [33]:
df5['DateTime'] = pd.to_datetime(df5['DateTime'])

In [34]:
# 2019

In [35]:
df6 = pd.read_csv('weather_2019.csv')

In [36]:
df6.drop(['Unnamed: 0', 'LOCALITA', 'DATA'], axis=1, inplace=True)

In [37]:
df6.index = df6.index + 1

In [38]:
df6['DateTime'] = pd.to_datetime(df6['DateTime'])

In [39]:
# Concat all the weather dataframes from 2014 to 2019:

In [40]:
# Create a list where the items are the year dataframes:

In [41]:
data_frames = [df1, df2, df3, df4, df5, df6]

In [42]:
# Concat them into a final dataframe

In [43]:
milano_weather_2014_2019 = pd.concat(data_frames, join='outer', axis=0)

In [44]:
# Check if the dataframe has the features I need:

In [45]:
milano_weather_2014_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2191 entries, 1 to 365
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TMEDIA 째C          2185 non-null   float64
 1   TMIN 째C            2185 non-null   float64
 2   TMAX 째C            2185 non-null   float64
 3   PUNTORUGIADA 째C    2185 non-null   float64
 4   UMIDITA %          2185 non-null   float64
 5   VISIBILITA km      2185 non-null   float64
 6   VENTOMEDIA km/h    2185 non-null   float64
 7   VENTOMAX km/h      2185 non-null   float64
 8   RAFFICA km/h       2185 non-null   float64
 9   PRESSIONESLM mb    2185 non-null   float64
 10  PRESSIONEMEDIA mb  2185 non-null   float64
 11  PIOGGIA mm         2185 non-null   float64
 12  FENOMENI           1242 non-null   object
 13  DateTime           2191 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(12), object(1)
memory usage: 256.8+ KB

In [46]:
# Last check before saving it to a csv file

In [47]:
milano_weather_2014_2019.head()

,TMEDIA 째C,TMIN 째C,TMAX 째C,PUNTORUGIADA 째C,UMIDITA %,VISIBILITA km,VENTOMEDIA km/h,VENTOMAX km/h,RAFFICA km/h,PRESSIONESLM mb,PRESSIONEMEDIA mb,PIOGGIA mm,FENOMENI,DateTime
1,2.0,-3.0,7.0,1.0,89.0,4.0,3.0,7.0,0.0,1020.0,0.0,0.0,pioggia nebbia,2014-01-01
2,3.0,3.0,4.0,3.0,99.0,4.0,6.0,11.0,0.0,1018.0,0.0,0.0,pioggia,2014-01-02
3,4.0,3.0,5.0,4.0,96.0,4.0,8.0,11.0,0.0,1021.0,0.0,0.0,pioggia,2014-01-03
4,5.0,4.0,5.0,5.0,99.0,4.0,6.0,13.0,0.0,1015.0,0.0,0.0,pioggia nebbia,2014-01-04
5,6.0,4.0,9.0,6.0,98.0,7.0,6.0,13.0,0.0,1007.0,0.0,0.0,pioggia nebbia,2014-01-05

In [48]:
# Finally, crate a new CSV file from the concatenated dataframes from each year into a final and complete one:

In [49]:
milano_weather_2014_2019.to_csv("milan_weather_2014_2019.csv", index=False)