Project: Prediction mean values and exceeding limit days of fine Particulate Matter (PM2.5) in the air - Milan (Italy).

Student: **Alessandro Monolo** | 1790210

Lecturer: Jonas Moons

Fundamentals of Machine Learning - Master Data-Driven Design, Hogeschool Utrecht.

August 2021 - Block E

## Data cleaning and Pre-Processing of NO Dataset in Milan from 2014 to 2019

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# I will import, clean and merge all the NO - Data Frames from 2014 to 2019

### Harmful Element NO Dataset of 2014

In [3]:
# Importing dataset of 2014, skipping the first row

In [4]:
NO_2014 = pd.read_csv("2014.csv", encoding="utf-8", skiprows=1)

In [5]:
NO_2014

                 -999 Valore mancante o invalido
Data/Ora                 Ossidi di Azoto - µg/m³
2014/01/01 01:00                           222.3
2014/01/01 02:00                           233.4
2014/01/01 03:00                           258.1
2014/01/01 04:00                           326.1
...                                          ...
2014/12/31 20:00                            67.1
2014/12/31 21:00                            86.4
2014/12/31 22:00                            98.4
2014/12/31 23:00                            87.8
2015/01/01 00:00                            81.2

[8761 rows x 1 columns]

In [6]:
NO_2014.drop(index=NO_2014.index[0], axis=0, inplace=True)

In [7]:
NO_2014.reset_index(inplace=True)

In [8]:
# After resetting the df index I set the new column names

In [9]:
NO_2014.rename(columns={"index": "TimeStamp", "-999 Valore mancante o invalido": "NO µg/m³"}, inplace=True)

In [10]:
# Save values equal to -999 to drop from the df

In [11]:
indexNames = NO_2014[NO_2014['NO µg/m³'] == '-999' ].index

In [12]:
NO_2014.drop(indexNames , inplace=True)

In [13]:
# Dropping any NaN values from the df

In [14]:
NO_2014.dropna()

             TimeStamp NO µg/m³
0     2014/01/01 01:00    222.3
1     2014/01/01 02:00    233.4
2     2014/01/01 03:00    258.1
3     2014/01/01 04:00    326.1
4     2014/01/01 05:00    321.5
...                ...      ...
8755  2014/12/31 20:00     67.1
8756  2014/12/31 21:00     86.4
8757  2014/12/31 22:00     98.4
8758  2014/12/31 23:00     87.8
8759  2015/01/01 00:00     81.2

[8619 rows x 2 columns]

In [15]:
# Transforming object column to a numeric values column

In [16]:
NO_2014["NO µg/m³"] = pd.to_numeric(NO_2014["NO µg/m³"], errors = 'coerce')

In [17]:
# Create a new df column from timestamp formatting their values with year-month-day and hour format:

In [18]:
NO_2014['DateTime'] = pd.to_datetime(NO_2014['TimeStamp'], format='%Y%m%d %H')

In [19]:
# Drop the timestamp column being not useful anymore

In [20]:
NO_2014.drop('TimeStamp', axis=1, inplace=True)

In [21]:
# Set Datetime column as the new index of the df

In [22]:
NO_2014_index = NO_2014.set_index('DateTime')

In [23]:
# Getting mean daily values from the hourly values per each day in df

In [24]:
df_NO_2014 = NO_2014_index.resample('D').mean()

In [25]:
df_NO_2014.reset_index(inplace=True)

In [26]:
# Drop the last row since it is the first january of the next year

In [27]:
df_NO_2014 = df_NO_2014[:-1]

In [28]:
df_NO_2014.shape

(365, 2)

In [29]:
# Repeat the same process for all the NO df of 2015, 2016, 2017,2018 and 2019.

### Harmful Element NO Dataset of 2015

In [30]:
NO_2015 = pd.read_csv("2015.csv", encoding="utf-8", skiprows=1)

In [31]:
NO_2015.drop(index=NO_2015.index[0], axis=0, inplace=True)

In [32]:
NO_2015.reset_index(inplace=True)

In [33]:
NO_2015.rename(columns={"index": "TimeStamp", "-999 Valore mancante o invalido": "NO µg/m³"}, inplace=True)

In [34]:
indexNames = NO_2015[NO_2015['NO µg/m³'] == '-999' ].index

In [35]:
NO_2015.drop(indexNames , inplace=True)

In [36]:
NO_2015.dropna()

             TimeStamp NO µg/m³
0     2015/01/01 01:00    103.5
1     2015/01/01 02:00     80.9
2     2015/01/01 03:00     69.4
3     2015/01/01 04:00     62.4
4     2015/01/01 05:00     72.8
...                ...      ...
8755  2015/12/31 20:00     68.7
8756  2015/12/31 21:00     86.9
8757  2015/12/31 22:00     77.6
8758  2015/12/31 23:00     70.1
8759  2016/01/01 00:00     54.1

[8632 rows x 2 columns]

In [37]:
NO_2015["NO µg/m³"] = pd.to_numeric(NO_2015["NO µg/m³"], errors = 'coerce')

In [38]:
NO_2015['DateTime'] = pd.to_datetime(NO_2015['TimeStamp'], format='%Y%m%d %H')

In [39]:
NO_2015.drop('TimeStamp', axis=1, inplace=True)

In [40]:
NO_2015_index = NO_2015.set_index('DateTime')

In [41]:
df_NO_2015 = NO_2015_index.resample('D').mean()

In [42]:
df_NO_2015.reset_index(inplace=True)

In [43]:
df_NO_2015 = df_NO_2015[:-1]

In [44]:
df_NO_2015.shape

(365, 2)

### Harmful Element NO Dataset of 2016

In [45]:
NO_2016 = pd.read_csv("2016.csv", encoding="utf-8", skiprows=1)

In [46]:
NO_2016.drop(index=NO_2016.index[0], axis=0, inplace=True)

In [47]:
NO_2016.reset_index(inplace=True)

In [48]:
NO_2016.rename(columns={"index": "TimeStamp", "-999 Valore mancante o invalido": "NO µg/m³"}, inplace=True)

In [49]:
indexNames = NO_2016[NO_2016['NO µg/m³'] == '-999' ].index

In [50]:
NO_2016.drop(indexNames , inplace=True)

In [51]:
NO_2016.dropna()

             TimeStamp NO µg/m³
0     2016/01/01 01:00     71.9
1     2016/01/01 02:00     70.8
2     2016/01/01 03:00     66.0
3     2016/01/01 04:00     57.7
4     2016/01/01 05:00     58.4
...                ...      ...
8779  2016/12/31 20:00    232.8
8780  2016/12/31 21:00    330.8
8781  2016/12/31 22:00    394.0
8782  2016/12/31 23:00    402.7
8783  2017/01/01 00:00    404.0

[8523 rows x 2 columns]

In [52]:
NO_2016["NO µg/m³"] = pd.to_numeric(NO_2016["NO µg/m³"], errors = 'coerce')

In [53]:
NO_2016['DateTime'] = pd.to_datetime(NO_2016['TimeStamp'], format='%Y%m%d %H')

In [54]:
NO_2016.drop('TimeStamp', axis=1, inplace=True)

In [55]:
NO_2016_index = NO_2016.set_index('DateTime')

In [56]:
df_NO_2016 = NO_2016_index.resample('D').mean()

In [57]:
df_NO_2016.reset_index(inplace=True)

In [58]:
df_NO_2016 = df_NO_2016[:-1]

In [59]:
df_NO_2016.shape

(366, 2)

### Harmful Element NO Dataset of 2017

In [60]:
NO_2017 = pd.read_csv("2017.csv", encoding="utf-8", skiprows=1)

In [61]:
NO_2017.drop(index=NO_2017.index[0], axis=0, inplace=True)

In [62]:
NO_2017.reset_index(inplace=True)

In [63]:
NO_2017.rename(columns={"index": "TimeStamp", "-999 Valore mancante o invalido": "NO µg/m³"}, inplace=True)

In [64]:
indexNames = NO_2017[NO_2017['NO µg/m³'] == '-999' ].index

In [65]:
NO_2017.drop(indexNames , inplace=True)

In [66]:
NO_2017.dropna()

             TimeStamp NO µg/m³
0     2017/01/01 01:00    451.4
1     2017/01/01 02:00    536.9
2     2017/01/01 03:00    482.5
3     2017/01/01 04:00    394.7
4     2017/01/01 05:00    332.3
...                ...      ...
8755  2017/12/31 20:00    157.6
8756  2017/12/31 21:00    152.2
8757  2017/12/31 22:00    138.3
8758  2017/12/31 23:00    117.8
8759  2018/01/01 00:00    108.3

[8557 rows x 2 columns]

In [67]:
NO_2017["NO µg/m³"] = pd.to_numeric(NO_2017["NO µg/m³"], errors = 'coerce')

In [68]:
NO_2017['DateTime'] = pd.to_datetime(NO_2017['TimeStamp'], format='%Y%m%d %H')

In [69]:
NO_2017.drop('TimeStamp', axis=1, inplace=True)

In [70]:
NO_2017_index = NO_2017.set_index('DateTime')

In [71]:
df_NO_2017 = NO_2017_index.resample('D').mean()

In [72]:
df_NO_2017.reset_index(inplace=True)

In [73]:
df_NO_2017 = df_NO_2017[:-1]

In [74]:
df_NO_2017.shape

(365, 2)

### Harmful Element NO Dataset of 2018

In [75]:
NO_2018 = pd.read_csv("2018.csv", encoding="utf-8", skiprows=1)

In [76]:
NO_2018.drop(index=NO_2018.index[0], axis=0, inplace=True)

In [77]:
NO_2018.reset_index(inplace=True)

In [78]:
NO_2018.rename(columns={"index": "TimeStamp", "-999 Valore mancante o invalido": "NO µg/m³"}, inplace=True)

In [79]:
indexNames = NO_2018[NO_2018['NO µg/m³'] == '-999' ].index

In [80]:
NO_2018.drop(indexNames , inplace=True)

In [81]:
NO_2018.dropna()

             TimeStamp NO µg/m³
0     2018/01/01 01:00     99.4
1     2018/01/01 02:00    100.3
2     2018/01/01 03:00     69.0
3     2018/01/01 04:00     74.1
4     2018/01/01 05:00     67.1
...                ...      ...
8755  2018/12/31 20:00     96.7
8756  2018/12/31 21:00     91.8
8757  2018/12/31 22:00    104.9
8758  2018/12/31 23:00     88.5
8759  2019/01/01 00:00     76.2

[7930 rows x 2 columns]

In [82]:
NO_2018["NO µg/m³"] = pd.to_numeric(NO_2018["NO µg/m³"], errors = 'coerce')

In [83]:
NO_2018['DateTime'] = pd.to_datetime(NO_2018['TimeStamp'], format='%Y%m%d %H')

In [84]:
NO_2018.drop('TimeStamp', axis=1, inplace=True)

In [85]:
NO_2018_index = NO_2018.set_index('DateTime')

In [86]:
df_NO_2018 = NO_2018_index.resample('D').mean()

In [87]:
df_NO_2018.reset_index(inplace=True)

In [88]:
df_NO_2018 = df_NO_2018[:-1]

In [89]:
df_NO_2018.shape

(365, 2)

### Harmful Element NO Dataset of 2019

In [90]:
NO_2019 = pd.read_csv("2019.csv", encoding="utf-8", skiprows=1)

In [91]:
NO_2019.drop(index=NO_2019.index[0], axis=0, inplace=True)

In [92]:
NO_2019.reset_index(inplace=True)

In [93]:
NO_2019.rename(columns={"index": "TimeStamp", "-999 Valore mancante o invalido": "NO µg/m³"}, inplace=True)

In [94]:
indexNames = NO_2019[NO_2019['NO µg/m³'] == '-999' ].index

In [95]:
NO_2019.drop(indexNames , inplace=True)

In [96]:
NO_2019.dropna()

             TimeStamp NO µg/m³
0     2019/01/01 01:00    103.6
1     2019/01/01 02:00    169.2
2     2019/01/01 03:00    158.6
3     2019/01/01 04:00     95.6
4     2019/01/01 05:00     98.5
...                ...      ...
8755  2019/12/31 20:00    163.1
8756  2019/12/31 21:00    177.9
8757  2019/12/31 22:00    189.7
8758  2019/12/31 23:00    196.5
8759  2020/01/01 00:00    200.9

[8446 rows x 2 columns]

In [97]:
NO_2019["NO µg/m³"] = pd.to_numeric(NO_2019["NO µg/m³"], errors = 'coerce')

In [98]:
NO_2019['DateTime'] = pd.to_datetime(NO_2019['TimeStamp'], format='%Y%m%d %H')

In [99]:
NO_2019.drop('TimeStamp', axis=1, inplace=True)

In [100]:
NO_2019_index = NO_2019.set_index('DateTime')

In [101]:
df_NO_2019 = NO_2019_index.resample('D').mean()

In [102]:
df_NO_2019.reset_index(inplace=True)

In [103]:
df_NO_2019 = df_NO_2019[:-1]

In [104]:
df_NO_2019.shape

(365, 2)

**Last check**

In [105]:
print(df_NO_2014.shape)
print(df_NO_2015.shape)
print(df_NO_2016.shape) # Leap year with one day more
print(df_NO_2017.shape)
print(df_NO_2018.shape)
print(df_NO_2019.shape)

(365, 2)
(365, 2)
(366, 2)
(365, 2)
(365, 2)
(365, 2)

### Merging all the NO datasets into a CSV file:

In [106]:
# Create a list of dataframes:

In [107]:
data_frames = [df_NO_2014, df_NO_2015, df_NO_2016, df_NO_2017, df_NO_2018, df_NO_2019]

In [108]:
# Concat all the yearly dtaframes into a complete dataframe, using columns as concatenating axes:

In [109]:
Milan_NO_2014_2019 = pd.concat(data_frames, join='outer', axis=0)

In [110]:
# Finally, save the result as new yearly dtaframe into a csv file:

In [111]:
Milan_NO_2014_2019.to_csv("Milan_NO_2014_2019.csv", index=False)

In [112]:
df_NO = pd.read_csv("Milan_NO_2014_2019.csv")

In [113]:
df_NO

        DateTime    NO µg/m³
0     2014-01-01  253.569565
1     2014-01-02  145.862500
2     2014-01-03  117.600000
3     2014-01-04  128.837500
4     2014-01-05  123.479167
...          ...         ...
2186  2019-12-27  186.254167
2187  2019-12-28  192.716667
2188  2019-12-29  133.516667
2189  2019-12-30   65.379167
2190  2019-12-31  117.654167

[2191 rows x 2 columns]